<h1>Hola mundo Angular 2.0</h1>
<button (click)="activator()">Activar/Destactivar</button>
<br />
<label>Forecolor: </label>
<input type="color" [(ngModel)]="foreColor" />
<br />
<label>Background: </label>
<input type="color" [(ngModel)]="backgroundColor" />
<br />
<br />
<label>Margen: </label>
<input type="text" [(ngModel)]="margin" />
<table>
    <tr>
        <td>Rotating-plane</td>
        <td><ba3-spinkit-rotating-plane [visible]="visibility"></ba3-spinkit-rotating-plane></td>
    </tr>
    <tr>
        <td>Double-bounce</td>
        <td><ba3-spinkit-double-bounce [visible]="visibility"></ba3-spinkit-double-bounce></td>
    </tr>
    <tr>
        <td>Rectangle</td>
        <td><ba3-spinkit-rectangle [visible]="visibility"></ba3-spinkit-rectangle></td>
    </tr>
    <tr>
        <td>Wandering-cubes</td>
        <td><ba3-spinkit-wandering-cubes [visible]="visibility"></ba3-spinkit-wandering-cubes></td>
    </tr>
    <tr>
        <td>Pulse</td>
        <td><ba3-spinkit-pulse [visible]="visibility"></ba3-spinkit-pulse></td>
    </tr>
    <tr>
        <td>Chasing-dots</td>
        <td><ba3-spinkit-chasing-dots [visible]="visibility"></ba3-spinkit-chasing-dots></td>
    </tr>
    <tr>
        <td>Three-bounce</td>
        <td><ba3-spinkit-three-bounce [visible]="visibility"></ba3-spinkit-three-bounce></td>
    </tr>
    <tr>
        <td>Sk-circle</td>
        <td><ba3-spinkit-sk-circle [visible]="visibility"></ba3-spinkit-sk-circle></td>
    </tr>
    <tr>
        <td>Sk-cube-grid</td>
        <td><ba3-spinkit-sk-cube-grid [visible]="visibility"></ba3-spinkit-sk-cube-grid></td>
    </tr>
    <tr>
        <td>Sk-fading-circle</td>
        <td><ba3-spinkit-sk-fading-circle [visible]="visibility"></ba3-spinkit-sk-fading-circle></td>
    </tr>
    <tr>
        <td>Sk-folding-cube</td>
        <td><ba3-spinkit-sk-folding-cube [visible]="visibility"></ba3-spinkit-sk-folding-cube></td>
    </tr>
</table>


